body{
    background-color: rgb(247, 89, 89);

}

h1{
    font-size: 55px;
    color: black;
    font-family: 'Press Start 2P';
    margin-top: 20px;
    text-align: center;
}

#personaje{
    display: block;          
    margin-left: auto;       
    margin-right: auto;      
    margin-bottom: 30px;
    width: 300px;
}

#fuego{
    justify-content: center;
    gap: 20px;
    margin-left: 210px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: orange;
    width: 250px;
    height: 250px;
}

#fuego_img{
    width: 200px;
    height: 200px;
}

#hielo{
    justify-content: center;
    margin-top: 20px;
    margin-right: 50px;
    gap: 20px;
    background-color: rgb(108, 193, 233);
    width: 250px;
    height: 250px;
}

#hielo_img{
    width:200px;
    height: 200px;
}

#hoja{
    justify-content: center;
    margin-top: 20px;
    margin-right:50px;
    background-color: brown;
    width: 250px;
    height: 250px;
}

#hoja_img{
    width: 200px;
    height: 200px;
}
